canvas{
    margin-left: 2em;
    border: lightgray 1px;
    border-radius: 22px;
}
.header{
    display: block;
    display: block;
    margin: 1em;
    border: 1px solid lightgray;
}

.header-text{
    font: italic bold 33px/30px Georgia, serif;
    margin-left: 1em;
}